# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/

# Django
*.sqlite3
*.log
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Excel or data files you DO want to commit, leave them out
# e.g., medical_ai_summary.xlsx <-- do NOT include this in .gitignore
